<div style="min-height: 100vh">
  <app-navbar></app-navbar>

  <div class="has-background-light"
       style="min-height: calc(100vh - 3.5rem);">
    <div class="columns" style="min-height: calc(100vh - 2.75rem);">
      <div class="column is-hidden-mobile is-2-tablet is-2-desktop pl-5">
        <app-menu></app-menu>
      </div>
      <div class="column is-12-mobile is-10-tablet is-10-desktop p-0 m-0">
        <div class="hero pt-4" style="height: 100%">
          <div class="hero-body">
<!--            <app-enterprise-managment></app-enterprise-managment>-->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
