<div style="min-height: 100vh">
  <app-navbar></app-navbar>

  <div class="has-background-light" style="min-height: calc(100vh - 3.5rem);">

    <div class="tabs">
      <ul>
        <li class="is-active"><a>Pictures</a></li>
        <li><a>Music</a></li>
        <li><a>Videos</a></li>
        <li><a>Documents</a></li>
      </ul>
    </div>

    <app-enterprises-page></app-enterprises-page>
  </div>
  <div class="footer has-text-centered">
    <div>Icons made by
      <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </div>
</div>
