<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-7-tablet is-7-desktop is-7-widescreen">
          <form [formGroup]="ngForm" (ngSubmit)="onSubmit()" class="box">

            <div class="field">
              <label for="username" class="label">Username</label>
              <div class="control has-icons-left">
                <input formControlName="username" id="username" name="username" type="text" placeholder="e.g. max-verstappen" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="new" class="label">New password</label>
              <div  class="control has-icons-left">
                <input formControlName="new" id="new" name="new" type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="confirm" class="label">Confirm password</label>
              <div  class="control has-icons-left">
                <input formControlName="confirm" id="confirm" name="confirm" type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>

            <hr />

            <div class="columns is-fullwidth is-0-mobile">
              <div class="column has-text-centered">
                <button class="button has-background-dark has-text-white is-fullwidth" (click)="navigateBackPage()">
                  Back
                </button>
              </div>
              <div class="column is-four-fifths-desktop ">
                <button type="submit" [disabled]="ngForm.invalid" [ngClass]="{'is-loading': btnLoadingOnSubmit}"
                        class="button has-background-warning is-warning is-fullwidth">
                  Submit
                </button>
              </div>
            </div>

            <div class="field" *ngIf="this.message.length">
              <article class="message" [class.is-danger] = "this.messageType != 0" [class.is-success] = "this.messageType == 0">
                <div class="message-body">{{this.message}}</div>
              </article>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
