<aside class="menu pt-5">
  <p class="menu-label">
    Gastronomy
  </p>
  <ul class="menu-list">
    <li><a>Participants</a></li>
    <li><a>Nutrition groups</a></li>
    <li><a>Nutrition plans</a></li>
    <li><a>Menus</a></li>
    <li><a>Dishes</a></li>
  </ul>
  <p class="menu-label">
    Warehouse
  </p>
  <ul class="menu-list">
    <li><a>Inventory</a></li>
    <li><a>Allergens</a></li>
    <li><a>Products</a></li>
  </ul>
  <p class="menu-label">
    Invoicing
  </p>
  <ul class="menu-list">
    <li><a>Suppliers</a></li>
    <li><a>Documents</a></li>
  </ul>
</aside>
