<div class="is-fullwidth">
  <div class="columns">
    <div class="column is-narrow is-12">
      <section class="section px-5 py-0">
        <div class="box">
          <app-pagination
            [sourceObservable]="fetched.participants.rxjs.asObservable()"
            (rendererEmitter)="receiveRenderer($event)"
          ></app-pagination>
        </div>
      </section>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <section class="section px-5 py-5">
        <div class="container">
          <div class="box">
            <div class="table-containers">
              <table class="table is-fullwidth is-striped">
                <thead>
                <tr><th>Full name</th><th>Description</th></tr>
                </thead>
                <tbody>
                <tr class="is-clickable" *ngFor="let f of this.fetched.participants.display" (click)="onSelectParticipant(f.id)">
                  <td class="py-2">{{f.fullName}}</td>
                  <td class="py-2">
                    {{f.description}}
                  </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="column is-6">
      <section class="section px-5 py-5">
        <div class="container">
          <div class="box" [formGroup]="ngFrmCtrl.frm">
            <div class="field">
              <label for="firstName" class="label">First name</label>
              <div class="control">
                <input formControlName="firstName" id="firstName" name="firstName" type="text" class="input">
              </div>
            </div>
            <div class="field">
              <label for="lastName" class="label">Last name</label>
              <div class="control">
                <input formControlName="lastName" id="lastName" name="lastName" type="text" class="input">
              </div>
            </div>
            <div class="field">
              <label for="description" class="label">Description</label>
              <div class="control">
                <input formControlName="description" id="description" name="description" type="text" class="input">
              </div>
            </div>

            <!-- Groups -->
            <app-multi-select
              title="Nutrition groups"
              leftTitle="Available"
              rightTitle="Selected"
            ></app-multi-select>

            <hr />
            <div class="columns">
              <div class="column">
                <button class="button is-success is-fullwidth" (click)="onCreate()">Create</button>
              </div>
              <div class="column">
                <button class="button is-info is-disabled is-fullwidth" (click)="onUpdate()" disabled>Update</button>
              </div>
              <div class="column">
                <button class="button is-danger is-fullwidth" (click)="onDelete()"
                        [disabled]="(ngFrmCtrl.frm.value != null && ngFrmCtrl.frm.value.id == null)"
                >Delete</button>
              </div>
              <div class="column">
                <button class="button is-warning is-fullwidth" (click)="onReset()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
