<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item">
      <figure class="image is-32x32">
        <img class="is-rounded" src="assets/icons/flaticon/meal.png" >
      </figure>
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="enterprise">
        Home
      </a>
      <a class="navbar-item" routerLink="gastronomy">
        Gastronomy
      </a>
      <a class="navbar-item" routerLink="inventory">
        Inventory
      </a>
      <a class="navbar-item" routerLink="invoicing">
        Invoicing
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" routerLink="settings">
              <span class="icon">
                <i class="fa fa-cogs"></i>
              </span>
              <span>
                Settings
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" (click)="sendLogoutRequest()">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
              <span>Logout</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
