<div class="is-fullwidth">
  <div class="columns">
    <div class="column is-narrow is-12">
      <section class="section px-5 py-0">
        <div class="box">
          <app-pagination
            (rendererEmitter)="subscribeRenderer($event)"
            [numOfItemsObservable]="fetched.menus.rxjs.asObservable()"
          ></app-pagination>
        </div>
      </section>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <section class="section px-5 py-5" *ngIf="this.fetched.menus.display.length > 0">
        <div class="container">
          <div class="box">
            <div class="table-container">
              <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr (click)="onSelectMenu(f.id)" *ngFor="let f of this.fetched.menus.display" class="is-clickable">
                  <td class="py-2">{{f.name}}</td>
                  <td class="py-2">{{f.code}}</td>
                  <td class="py-2">{{f.description}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="column is-6">
      <section class="section px-5 py-5">
        <div class="container">
          <app-spinner-wrapper>
            <div [formGroup]="ngFrmCtrl.frm" class="box">
              <div class="field">
                <label class="label" for="name">Name</label>
                <div class="control">
                  <input class="input" formControlName="name" id="name" name="name" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label" for="name">Code</label>
                <div class="control">
                  <input class="input" formControlName="code" id="code" name="code" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label" for="description">Description</label>
                <div class="control">
                <textarea class="textarea"
                          formControlName="description" id="description" name="description"
                          placeholder="3000"></textarea>
                </div>
              </div>

              <!-- Ingredients -->
              <div class="field">
                <div class="control">
                  <button (click)="showDishes()" class="button is-info is-disabled is-fullwidth">Manage meals
                  </button>
                  <app-multi-select-search
                    (rendererEmitter)="subscribeRendererDishesPagination($event)"
                    [btnSetup]="searchable.btnSetup"
                    [numberOfItemsObservable]="searchable.rxjs.asObservable()"
                  >
                    <div class="content" [ngSwitch]="searchable.currentBtnKey">
                      <app-table-content-dishes
                        [headers]="searchable.btnSetup.get(btnSetupKeys.dishes).headers"
                        [display]="searchable.btnSetup.get(btnSetupKeys.dishes).display"
                        (subscribeAction)="addDishToMeal($event)"
                        *ngSwitchCase="btnSetupKeys.dishes"
                      ></app-table-content-dishes>
                      <app-table-content-meals
                        [headers]="searchable.btnSetup.get(btnSetupKeys.meals).headers"
                        [display]="searchable.btnSetup.get(btnSetupKeys.meals).display"
                        (subscribeAction)="removeDishFromMeal($event)"
                        (subscribeChangeMeal)="changeMealView($event)"
                        *ngSwitchCase="btnSetupKeys.meals">
                      </app-table-content-meals>
                    </div>

                  </app-multi-select-search>
                </div>
              </div>

              <!-- SUMMARY -->
              <ng-container *ngIf="this.ngFrmCtrl.frm.value.id > 0">
                <hr />
                <div class="field">
                  <label for="title" class="label">Summary</label>
                  <div>
                    <ul style="list-style-type: none;">
                      <li>Calories: {{this.fetched.menuInfo.calories}}</li>
                      <li>Proteins: {{this.fetched.menuInfo.proteins}}</li>
                      <li>Carbohydrates: {{this.fetched.menuInfo.carbohydrates}}</li>
                      <li>Fats: {{this.fetched.menuInfo.fats}}</li>
                    </ul>
                  </div>
                  <br />
                  <div class="columns has-text-centered is-narrow" id="title">
                    <div class="column">
                      <div class="select is-multiple is-fullwidth">
                        <label for="left" class="label">Allergens</label>
                        <select multiple id="left" style="height: 250px" name="left" size="4">
                          <option *ngFor="let a of this.fetched.menuInfo.allergens">{{a.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="column">
                      <div class="select is-multiple is-fullwidth">
                        <label for="right" class="label">Ingredients</label>
                        <select multiple id="right" style="height: 250px" name="right" size="4">
                          <option *ngFor="let i of this.fetched.menuInfo.ingredients">{{i.key.name}} {{i.total}}{{unitPackage.convert(i.key.unit)}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <hr/>

              <div class="columns">
                <div class="column">
                  <button (click)="onCreate()" class="button is-success is-fullwidth">Create</button>
                </div>
                <div class="column">
                  <button (click)="onUpdate()" class="button is-info is-disabled is-fullwidth"
                          [disabled]="(ngFrmCtrl.frm.value != null && ngFrmCtrl.frm.value.id == null)"
                  >Update</button>
                </div>
                <div class="column">
                  <button (click)="onDelete()"
                          [disabled]="(ngFrmCtrl.frm.value != null && ngFrmCtrl.frm.value.id == null)"
                          class="button is-danger is-fullwidth"
                  >Delete
                  </button>
                </div>
                <div class="column">
                  <button (click)="onReset()" class="button is-warning is-fullwidth">Reset</button>
                </div>
              </div>

            </div>
          </app-spinner-wrapper>
        </div>
      </section>
    </div>
  </div>

</div>
