<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-7-tablet is-7-desktop is-7-widescreen">
          <form [formGroup]="ngForm" (ngSubmit)="onSubmit()" class="box">

            <div class="field">
              <label for="username" class="label">Username</label>
              <div class="control has-icons-left">
                <input formControlName="username" id="username" name="username" type="text" placeholder="e.g. max-verstappen" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Password</label>
              <div  class="control has-icons-left">
                <input formControlName="password" id="password" name="password" type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="checkbox" class="checkbox">
                <input id="checkbox" name="checkbox" type="checkbox">
                Remember me
              </label>
            </div>

            <hr />

            <div class="columns is-fullwidth is-0-mobile">
              <div class="column is-four-fifths-desktop has-text-centered">
                <button type="submit" [disabled]="ngForm.invalid" class="button is-success is-fullwidth" [ngClass]="{'is-loading': btnLoadingOnSubmit}">
                  Login
                </button>
              </div>
              <div class="column">
                <button type="button" routerLink="/signup"
                        class="button has-background-info has-text-light is-fullwidth">Sign Up</button>
              </div>
            </div>

            <div class="field" *ngIf="this.message.length">
              <article class="message" [ngClass]="{'is-primary': messageType == 0, 'is-danger': messageType != 0}">
                <div class="message-body">{{this.message}}</div>
              </article>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
