<div [class.is-active]="modal"  class="modal" [formGroup]="ngForm">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close" (click)="hideModal()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label for="companyName" class="label">Company name <span class="has-text-danger">*</span></label>
        <div class="control">
          <input [readonly]="this.modalState == 1" formControlName="companyName" id="companyName" name="companyName" type="text" class="input">
        </div>
      </div>
      <div class="field">
        <label for="nip" class="label">NIP <span class="has-text-danger">*</span></label>
        <div class="control">
          <input [readonly]="this.modalState == 1" placeholder="10 digs" formControlName="nip" id="nip" name="nip" type="text" class="input">
        </div>
      </div>
      <div class="field">
        <label for="email" class="label">Email <span class="has-text-danger">*</span></label>
        <div class="control">
          <input [readonly]="this.modalState == 1" formControlName="email" id="email" name="email" type="text" class="input">
        </div>
      </div>
      <div class="field">
        <label for="phoneNumber" class="label">Phone <span class="has-text-danger">*</span></label>
        <div class="control">
          <input [readonly]="this.modalState == 1" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber" type="text" class="input">
        </div>
      </div>
      <div class="field">
        <label for="streetAddress" class="label">Street address <span class="has-text-danger">*</span></label>
        <div class="control">
          <input [readonly]="this.modalState == 1" formControlName="streetAddress" id="streetAddress" name="streetAddress" type="text" class="input">
        </div>
      </div>
      <div class="field">
        <label for="postalCode" class="label">Postal code <span class="has-text-danger">*</span></label>
        <div class="control">
          <input [readonly]="this.modalState == 1" formControlName="postalCode" placeholder="00-000" id="postalCode" name="postalCode" type="text" class="input">
        </div>
      </div>
      <div class="field">
        <label for="city" class="label">City <span class="has-text-danger">*</span></label>
        <div class="control">
          <input [readonly]="this.modalState == 1" formControlName="city" id="city" name="city" type="text" class="input">
        </div>
      </div>
      <div class="field">
        <label for="state" class="label">State <span class="has-text-danger">*</span></label>
        <div class="control">
          <input [readonly]="this.modalState == 1" formControlName="state" id="state" name="state" type="text" class="input">
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="onCreateEnterpriseSubmit()"
        [style.display]="this.modalState == 0 ? 'block' : 'none' ">Save changes</button>
      <button class="button is-success" (click)="onUpdateEnterpriseSubmit()"
              [style.display]="this.modalState == 2 ? 'block' : 'none' ">Update changes</button>
      <button class="button" (click)="hideModal()">Cancel</button>
    </footer>
  </div>
</div>

<section class="section">
  <div class="columns is-multiline is-left">
    <div [id]="f.id" class="column is-3" *ngFor="let f of this.fetchEnterprises">
      <div class="card" [style.opacity]="f.selected == false ? 1 : 0.25">
        <header class="card-header">
          <p class="card-header-title has-text-centered">
            {{f.companyName}}
          </p>
        </header>
        <footer class="card-footer">
          <a class="card-footer-item" (click)="onShowEnterprise(f.id)">Show</a>
          <a class="card-footer-item" (click)="onSelectEnterprise(f.id)">Select</a>
          <a class="card-footer-item" (click)="onDeleteEnterprise(f.id)">Delete</a>
        </footer>
      </div>
    </div>
  </div>
  <button class="button is-primary" id="btn-plus" (click)="showModal(0)">
    <span class="icon">
      <i class="fa-solid fa-plus"></i>
    </span>
  </button>
</section>
