<div style="min-height: 100vh; display: flex; justify-content: center; align-items: center;">
<section class="section" style="width: 75%; max-width: 750px">
  <div class="container">
    <app-spinner-wrapper>

      <div [formGroup]="ngFrmCtrl.frm" class="box">
        <div class="field">
          <label class="label" for="currentPassword">Password</label>
          <div class="control">
            <input class="input" formControlName="currentPassword" id="currentPassword" name="currentPassword" type="password">
          </div>
        </div>

        <div class="field">
          <label class="label" for="newPassword">New password</label>
          <div class="control">
            <input class="input" formControlName="newPassword" id="newPassword" name="newPassword" type="password">
          </div>

          <div *ngIf="ngFrmCtrl.frm.newPassword?.invalid && (ngFrmCtrl.frm.newPassword?.dirty || ngFrmCtrl.frm.newPassword?.touched)"
               class="notification is-danger p-2 mt-3">
            <div *ngIf="ngFrmCtrl.frm.newPassword?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="ngFrmCtrl.frm.newPassword?.errors?.['minlength']">
              Password must be at least 8 characters long
            </div>
          </div>

        </div>

        <div class="field">
          <label class="label" for="confirmPassword">Confirm password</label>
          <div class="control">
            <input class="input" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword" type="password">
          </div>
        </div>

        <hr/>

        <div class="notification" [class.is-primary]="result.code == 0" [class.is-danger]="result.code == 1" *ngIf="result.code > -1">
          {{result.msg}}
        </div>


        <div class="columns">

          <div class="column">
            <button (click)="onUpdate()" [disabled]="this.ngFrmCtrl.frm.valid == false" #btnUpdate class="button is-info is-disabled is-fullwidth">Update</button>
          </div>
          <div class="column">
            <button (click)="onReset()" class="button is-warning is-fullwidth">Reset</button>
          </div>
          <div class="column">
            <button (click)="onCloseAccount()" class="button is-danger is-fullwidth">
              Close account
            </button>
          </div>

        </div>

      </div>
    </app-spinner-wrapper>
  </div>
</section>
</div>
