<div style="min-height: 100vh; display: flex; justify-content: center; align-items: center;">
<section class="section" style="width: 75%; max-width: 750px">
  <div class="container">
    <app-spinner-wrapper>

      <div [formGroup]="ngFrmCtrl.frm" class="box">
        <div class="field">
          <label class="label" for="current">Password</label>
          <div class="control">
            <input class="input" formControlName="current" id="current" name="current" type="password">
          </div>
        </div>

        <div class="field">
          <label class="label" for="new">New password</label>
          <div class="control">
            <input class="input" formControlName="new" id="new" name="new" type="password">
          </div>

          <div *ngIf="ngFrmCtrl.frm.new?.invalid && (ngFrmCtrl.frm.new?.dirty || ngFrmCtrl.frm.new?.touched)"
               class="notification is-danger p-2 mt-3">
            <div *ngIf="ngFrmCtrl.frm.new?.errors?.['required']">
              Password is required
            </div>
            <div *ngIf="ngFrmCtrl.frm.new?.errors?.['minlength']">
              Password must be at least 8 characters long
            </div>
          </div>

        </div>

        <div class="field">
          <label class="label" for="confirm">Confirm password</label>
          <div class="control">
            <input class="input" formControlName="confirm" id="confirm" name="confirm" type="password">
          </div>
        </div>

        <hr/>

        <div class="columns">

          <div class="column">
            <button (click)="onUpdate()" class="button is-info is-disabled is-fullwidth">Update</button>
          </div>
          <div class="column">
            <button (click)="onReset()" class="button is-warning is-fullwidth">Reset</button>
          </div>
          <div class="column">
            <button (click)="onCloseAccount()" class="button is-danger is-fullwidth">
              Close account
            </button>
          </div>

        </div>

      </div>
    </app-spinner-wrapper>
  </div>
</section>
</div>
