<div class="is-fullwidth">
  <div class="columns">
    <div class="column is-narrow is-12">
      <section class="section px-5 py-0">
        <div class="box">
          <app-pagination
            [numOfItemsObservable]="fetched.contacts.rxjs.asObservable()"
            [maxItemsDisplay]="15"
            (rendererEmitter)="subscribeRenderer($event)"
          ></app-pagination>
        </div>
      </section>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6">
      <section class="section px-5 py-5" *ngIf="this.fetched.contacts.display.length > 0">
        <div class="container">
          <div class="box">
            <div class="table-container">
              <table class="table is-fullwidth is-striped">
                <thead>
                <tr><th>Full name</th><th>Email</th><th>Phone</th></tr>
                </thead>
                <tbody>
                <tr class="is-clickable" *ngFor="let f of this.fetched.contacts.display" (click)="onSelect(f.id)">
                  <td class="py-2">{{f.firstName}} - {{f.lastName}}</td>
                  <td class="py-2">{{f.email}}</td>
                  <td class="py-2">{{f.phonNumber}}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="column is-6">
      <section class="section px-5 py-5">
        <div class="container">
          <div class="box" [formGroup]="ngFrmCtrl.frm">

            <div class="field">
              <button type="button" (click)="navigateBackPage()" class="button has-background-black has-text-light is-fullwidth">
                Back
              </button>
            </div>

            <hr />

            <div class="field">
              <label for="firstName" class="label">Name <span class="has-text-danger">*</span></label>
              <div class="control">
                <input formControlName="firstName" id="firstName" name="firstName" type="text" class="input" placeholder="1-300">
              </div>
            </div>
            <div class="field">
              <label for="lastName" class="label">Surname <span class="has-text-danger">*</span></label>
              <div class="control">
                <input formControlName="lastName" id="lastName" name="lastName" type="text" class="input" placeholder="1-300">
              </div>
            </div>

            <hr />

            <div class="field">
              <label for="email" class="label">Email</label>
              <div class="control">
                <input formControlName="email" id="email" name="email" type="email"  class="input"
                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="100">
              </div>
            </div>
            <div class="field">
              <label for="phoneNumber" class="label">Phone</label>
              <div class="control">
                <input formControlName="phoneNumber" id="phoneNumber" name="phoneNumber" type="text"  class="input"
                       pattern="[0-9]{9}" placeholder="12">
              </div>
            </div>
            <div class="field">
              <label for="description" class="label">Description</label>
              <div class="control">
                <textarea formControlName="description"
                          id="description" name="description" class="textarea" placeholder="3000"></textarea>
              </div>
            </div>

            <hr />
            <div class="columns">
              <div class="column">
                <button class="button is-success is-fullwidth" [disabled]="ngFrmCtrl.frm.invalid" (click)="onCreate()">Create</button>
              </div>
              <div class="column">
                <button class="button is-info is-disabled is-fullwidth" (click)="onUpdate()" disabled>Update</button>
              </div>
              <div class="column">
                <button class="button is-danger is-fullwidth" (click)="onDelete()"
                        [disabled]="(ngFrmCtrl.frm.value != null && ngFrmCtrl.frm.value.id == null)"
                >Delete</button>
              </div>
              <div class="column">
                <button class="button is-warning is-fullwidth" (click)="onReset()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

