<div class="table-container">
  <table class="table is-fullwidth is-striped">
  <thead>
  <tr>
    <ng-container
      *ngFor="let header of headers | keyvalue: zero">
      <th *ngIf="header.value !== false">
        {{header.value !== true ? header.value : header.key}}
      </th>
    </ng-container>
    <th class="btn-action" style="text-align: center"></th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of display">
    <tr>
      <td *ngFor="let header of headers | keyvalue: zero" class="py-1"
          style="vertical-align: middle">
        {{header.key != "unit" ?  item[header.key] : unitPackage.convert(item[header.key]) }}
      </td>
      <td class="btn-action">
        <button class="button is-danger is-fullwidth" (click)="action(item)">Remove</button>
      </td>
    </tr>
  </ng-container>
  </tbody>
  </table>
</div>
