.control-column-box {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.control-column-arrow {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
