<div class="field" [formGroup]="getNgFrmCtrl().frm">
  <label for="title" class="label">{{title}}</label>
  <div class="columns has-text-centered is-narrow" id="title">
    <div class="column">
      <div class="select is-multiple is-fullwidth">
        <label for="left" class="label">{{leftTitle}}</label>
        <select formControlName="left" multiple id="left"
                style="height: 250px" name="left" size="4">
          <option [value]="f.id" *ngFor="let f of getNgFrmCtrl().left">{{f.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="column is-1 is-narrow">
      <div style="min-height: 100%;" class="control-column-box">
        <div class="control-column-arrow">
          <span class="is-clickable"><i class="fas fa-chevron-left" (click)="transferToLeft()"></i></span>
          <span class="is-clickable"><i class="fas fa-chevron-right" (click)="transferToRight()"></i></span>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="select is-multiple is-fullwidth">
        <label for="right" class="label">{{rightTitle}}</label>
        <select formControlName="right" multiple id="right"
                style="height: 250px" name="right" size="4">
          <option [value]="f.id" *ngFor="let f of getNgFrmCtrl().right">{{f.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
